/* Custom button */

.custom-button-svg * {
    transition: all 0.15s;
    cursor: pointer;
    text-transform: uppercase;
}

.custom-button-svg path {
    fill-opacity: 0;
    d: path("M2.750 2.750 L205.250 2.750 L205.250 28.750 L205.250 49.250 L2.750 49.250 L2.750 22.750 L2.750 2.750 Z");
}

.custom-button-svg text {
    fill: var(--white);
}

.custom-button-svg:hover path {
    fill: var(--white);
    fill-opacity: 1;
    d: path("M21.750 2.750 L205.250 2.750 L205.250 31.250 L188.250 49.250 L2.750 49.250 L2.750 23.896 L21.750 2.750 Z");
}

.custom-button-svg:hover text {
    fill: var(--blue);
}