/* Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "Credit";
    src: url(media/creditva.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Credit";
    src: url(media/creditvb.ttf) format("truetype");
    font-weight: bold;
}

@media screen and (max-width: 1250px) {
    #sidebar {
        display: none;
    }
    #main {
        padding: 0 !important;
    }
    .sectionTitle {
        font-size: 24pt !important;
        text-align: center !important;
        padding: 24px 0 !important;
        display: block !important;
    }
    .gallery {
        padding: 0 0 120px 0 !important;
    }
    .trackContainer .title {
        margin: 0 24px 0 0;
        font-size: 36pt !important;
    }
    #track {
        padding: 0 0 20px 0 !important;
    }
}


/* Essential */

body {
    margin: 0px;
    font-family: 'Roboto';
    transition: 0.5s all ease;
    background-color: #1d0022;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Container */

.container-lord,
.container-double {
    color: #FAFAFA;
}

.container-lord {
    width: 100%;
    height: 100%;
    display: flex;
}

.container-inti {
    cursor: default;
}


/* Loading */

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #1d0022;
    z-index: 99;
}


/* Main things */

#main {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 5% 0 30%;
}


/* .sectionTitle {
    font-size: 48pt;
    font-family: 'Credit';
    font-weight: normal;
    text-align: center;
    letter-spacing: 24px;
    padding: 48px 0;
    width: 100%;
} */

.sectionTitle {
    font-size: 86pt;
    font-family: 'Bebas Neue';
    font-weight: normal;
    text-align: right;
    letter-spacing: 0;
    padding: 48px 0;
    width: 100%;
    display: none;
}

#startPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transform: translateY(-80px);
    color: #FAFAFA;
}

.gallery {
    width: 100%;
    font-size: 0;
    padding: 0 0 240px 0;
}

.gallery .row {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.img {
    width: 100%;
    flex-grow: 1;
}

#track {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 360px 0;
    overflow: hidden;
}

#track p {
    margin: 0;
}

.trackContainer {
    height: 50%;
    width: 50%;
    flex-grow: 1;
}

.trackContainer .trackContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    visibility: hidden;
}

.trackContainer .title {
    font-family: 'Bebas';
    font-weight: bold;
    font-size: 86pt;
    letter-spacing: 2px;
    padding: 28px 0;
    text-align: right;
}

.trackContainer .composer {
    display: flex;
    flex-direction: row;
}

.trackContainer .left {
    text-align: right;
    font-size: 16pt;
    width: 100%;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 0 24px;
}

.trackContainer .right {
    text-align: left;
    width: 100%;
    font-size: 12pt;
    letter-spacing: 1px;
}

.trackContainer .right p {
    margin-top: 0;
}


/* Sidebar things */

.container-progressBar {
    position: fixed;
    top: 0;
    height: 100%;
    transform: translateY(25%);
}

.progressBar {
    width: 2px;
    position: absolute;
    top: 0;
    left: 75px;
}

#progressJalan {
    background-color: #FAFAFA;
    z-index: 2;
}

#progressHollow {
    background-color: rgb(68, 68, 68);
    height: 50%;
    z-index: 1;
}

.container-list {
    height: 75%;
    top: 10%;
    left: 50px;
    position: fixed;
}

.sidebarList {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
}

.lists {
    opacity: 0;
}

.rectangleList {
    height: 2px;
    width: 0;
    background-color: white;
    transition: 0.2s all ease;
}

.listText {
    font-size: 12pt;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 6px 0 0 0;
    transition: 0.4s all ease;
}


/* Footer things */

#footer {
    width: 100%;
    height: 400px;
    background-color: #1d0022;
    transition: 0.8s all ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #FAFAFA;
    z-index: -99;
    overflow: hidden;
}

#quotes {
    font-weight: bold;
    font-size: 24pt;
    letter-spacing: 2px;
    opacity: 0;
    transform: skewX(-10deg);
    display: block;
    padding: 12px 0;
}

#profile {
    display: flex;
    align-items: center;
    opacity: 0;
}

#avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* Animation */

@keyframes sidebarShow {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes sidebarHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@keyframes slideUpMain {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideDownMain {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(800px)
    }
}

@keyframes slideLeftMain {
    0% {
        transform: translateX(50px)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes slideLeftTrack {
    0% {
        visibility: visible;
        transform: translateX(800px)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes slideLeftProfile {
    0% {
        opacity: 0;
        transform: translateX(50px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideLeftQuotes {
    0% {
        opacity: 0;
        transform: translateX(50px) skewX(-10deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) skewX(-10deg);
    }
}