@media screen and (max-width: 850px) {
    .container-main {
        height: 125vh;
    }
    .logo {
        left: 50%;
        transform: translateX(-50%);
    }
    .row-line {
        flex-direction: column;
    }
    .card-content {
        animation-duration: 0.5s;
    }
    .card-title {
        font-size: 1.75em;
        text-align: center;
    }
    .card-wrapper {
        display: flex;
    }
    .info-box {
        position: static;
        padding: 0 2vw;
    }
    #instagram {
        height: 50%;
    }
    #pinterest {
        height: 50%;
    }
    .card-mobile {
        display: block;
        text-align: center;
        width: 100%;
    }
    .copyright {
        bottom: -48px
    }
}