/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

/* Colors */

:root {
    --black: #101010;
    --white: #fafafa;
    --blue: #6268e7;
    --cyan: #68e5d8;
    --red: #ec3939;
    --grey: #414141;
    --black-grey: #202020;
    --purple: #a962ec;
    --dodger-blue: #1e90ff;
    --firebrick: #b22222;
}


/* Font */

.fs-200 {
    font-size: 2em;
}

.fs-175 {
    font-size: 1.75em;
}

.fs-150 {
    font-size: 1.50em;
}

.fs-125 {
    font-size: 1.25em;
}

.fs-100 {
    font-size: 1em;
}

.fs-75 {
    font-size: 0.75em;
}

.fs-50 {
    font-size: 0.5em;
}

.fw-bold {
    font-weight: 600;
}

.fw-reg {
    font-weight: 400;
}

.fw-light {
    font-weight: 200;
}


/* Default */

html {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--black);
    color: var(--white)
}


/* Custom Class */

.content-title {
    font-family: 'Aboreto';
}

.content-button {
    border: var(--white) solid 1px;
    border-radius: 1.25em;
    width: fit-content;
    padding: 0.35em 0.85em;
    transition: all 0.25s;
    cursor: pointer;
}

.content-button:hover {
    background-color: var(--white);
    color: var(--black);
}

.logo-list {
    border-radius: 12em;
    padding: 0.35em;
    cursor: pointer;
    transition: all 0.5s;
}

.logo-list-container {
    position: relative;
    top: -1.5em;
    overflow-x: scroll;
}

#clock-small {
    display: flex;
}

.ornament {
    opacity: 0
}

/* Image & Picture  */

.img-logo-small {
    width: 3em;
    height: 3em;
    animation: logo-rotation 5s infinite linear;
}

.img-logo-list {
    height: 0.75em;
}


/* Animation */

@keyframes logo-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes appearBT {
    0% {
        opacity: 0;
        transform: translateY(0.1em)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes appearBT-logo {
    0% {
        opacity: 0%;
        transform: translateY(2em)
    }
    100% {
        opacity: 50%;
        transform: translateY(0)
    }
}

@keyframes disappearBT {
    0% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        transform: translateY(-0.1em)
    } 
}

@keyframes ornamentsFadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


/* Media adjust for header and footer */

.header-container, .footer-container {
    padding: 1em 3em;
}

@media screen and (max-width: 760px) {
    .header-container, .footer-container {
        padding: 0 1.5em;
    }
}