#icon-container > img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

#code-container > img {
    margin: 0 5px;
}

#name-container {
    font-family: "FS Sinclair";
    src: url("./assets/FS\ Sinclair\ Medium.otf")
}

.correct {
    box-shadow: 0 0 10px 0 yellow;
}